/* ClassForm.module.css */

.container {
    background-color: #f5f5f5; /* Light gray background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a card-like effect */
    max-width: 600px; /* Increase the max-width for a wider form */
    margin: 0 auto; /* Center the form horizontally */
}

  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  select,
  input,
  option,
  button {
    width: 100%; /* Make the input fields 100% wide */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #1da1f2; /* Twitter blue */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1877b7; /* Darker blue on hover */
  }
  
  /* Style the date picker */
  .react-datepicker-wrapper {
    width: 100%;
  }
  
  /* Style error message */
  .error-message {
    color: #ff0000; /* Red color for error messages */
    font-size: 14px;
    margin-top: 5px;
  }
  